{% extends "base.html.twig" %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ auction.title }}</h1>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cena: {{ auction.price }} zł</li>
            <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} zł</li>
            <li class="list-group-item">Data zakończenia: {{ auction.expiresAt | date("Y-m-d H:i:s") }}</li>
        </ul>
    </div>

    <a class="btn btn-default" href="{{ url('auction_index') }}">powrót</a>
{% endblock %}